		.where {
		  display: block;
		  margin: 25px 15px;
		  font-size: 11px;
		  color: #000;
		  text-decoration: none;
		  font-family: verdana;
		  font-style: italic;
		}
		.checks{
			width:350px;
			height:100%;
			margin:0 auto;
			padding-top: 134px;
		}	
		.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
		  position: absolute;
		  width: 1px;
		  height: 1px;
		  padding: 0;
		  margin: -1px;
		  overflow: hidden;
		  clip:rect(0,0,0,0);
		  border: 0
		}
		.checks input[type="checkbox"] + label {
		  display: inline-block;
		  position: relative;
		  cursor: pointer;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		}
		.checks .positon_fw input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
		  content: ' ';
		  display: inline-block;
		  width: 21px;  /* 체크박스의 너비를 지정 */
		  height: 21px;  /* 체크박스의 높이를 지정 */
		  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
		  margin: -2px 8px 0 0;
		  text-align: center; 
		  vertical-align: middle;
		  background: #be2d1a;
		  border-radius : 3px;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		}
		
		.checks .position_mid input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
		  content: ' ';
		  display: inline-block;
		  width: 21px;  /* 체크박스의 너비를 지정 */
		  height: 21px;  /* 체크박스의 높이를 지정 */
		  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
		  margin: -2px 8px 0 0;
		  text-align: center; 
		  vertical-align: middle;
		  background: #249022;
		  border-radius : 3px;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		}
		
		.checks .position_df input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
		  content: ' ';
		  display: inline-block;
		  width: 21px;  /* 체크박스의 너비를 지정 */
		  height: 21px;  /* 체크박스의 높이를 지정 */
		  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
		  margin: -2px 8px 0 0;
		  text-align: center; 
		  vertical-align: middle;
		  background: #124999;
		  border-radius : 3px;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		}
		
		.checks .position_gk input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
		  content: ' ';
		  display: inline-block;
		  width: 21px;  /* 체크박스의 너비를 지정 */
		  height: 21px;  /* 체크박스의 높이를 지정 */
		  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
		  margin: -2px 8px 0 0;
		  text-align: center; 
		  vertical-align: middle;
		  background: #b69025;
		  border-radius : 3px;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		}
		.checks input[type="checkbox"] + label:active:before,
		.checks input[type="checkbox"]:checked + label:active:before {
		  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
		}
		.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
		  content: '\2714';  /* 체크표시 유니코드 사용 */
		  color: #000000;
		  text-shadow: 1px 1px #fff;
		  background: #FF0000;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		}
		.checks .position_mid input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
		  content: '\2714';  /* 체크표시 유니코드 사용 */
		  color: #000000;
		  text-shadow: 1px 1px #fff;
		  background: #1DDB16;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		}
		.checks .position_df input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
		  content: '\2714';  /* 체크표시 유니코드 사용 */
		  color: #000000;
		  text-shadow: 1px 1px #fff;
		  background: #0054FF;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		}
		.checks .position_gk input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
		  content: '\2714';  /* 체크표시 유니코드 사용 */
		  color: #000000;
		  text-shadow: 1px 1px #fff;
		  background: #FFBB00;
		  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		}
		.formation{
			width:650px;
			height:850px;
			background: url("/resources/img/formation.jpg");
			background-repeat: no-repeat;
		}
		.btn span.glyphicon {    			
			opacity: 0;				
		}
		.btn.active span.glyphicon {				
			opacity: 1;				
		}
		.position_wrap{
			float:left;
			width:50px;
			text-align: center;
		}
		.position_mid .position_wrap{
			width:70px;
		}
		.position_mid .position_wrap:nth-child(2), .position_mid .position_wrap:nth-child(3){
			margin-left: 70px;
		}
		.position_wrap:nth-child(2),.position_wrap:nth-child(3){
			margin-left:100px;
		}
		.position_df .position_wrap:nth-child(2),
		.position_df .position_wrap:nth-child(3),
		.position_df .position_wrap:nth-child(4){
			margin-left: 50px;
		}
		.position_df .position_wrap:nth-child(1),.position_df .position_wrap:nth-child(4){
			margin-top: -30px;
		}
		.position_fw_txt, .position_mid_txt{
			width:50px;
			display: block;
		}
		.position_mid_txt{
			width:70px;
		}
		.positon_fw, .position_mid{
			height:200px;
			margin-bottom: 65px;
		}
		.position_mid{
			height:160px;
		}
		.position_df{
			height:120px;
		}
		.position_gk{
			width:50px;
			height:43px;
			margin:0 auto;
		}