#portfolio{
	width:100%;
	height:1500px;
}
section .content{
	width:980px;
	height:890px;
	margin:0 auto;
}
section .container{
	width:980px;
	height:1100px;
	border:1px solid lightgray;
	padding: 20px;
	overflow: hidden;
}
.container .team_logo{
	width:160px;
	height:570px;
	float:left;
}
.team_logo .img_area{
	width:160px;
	height: 160px;
	border:1px solid red;
}
.btn_img{
	width:160px;
	margin-top: 10px;
}
.team_title,.reception{
	float:left;
	width:728px;
	height:70px;
	margin-left: 20px;
	border-bottom: 1px solid lightgray;
	
}
.reception{
	height:98px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.formation{
	float:left;
	width:728px;
	height:500px;
	margin-left: 20px;
	padding-top: 15px;
}
.webFont{
	width:138px;
	height:19px;
	float:left;
	margin-top: 0px;
	font-weight: lighter;
}

.edit{
	float:left;
	width:586px;
	margin-left: 0px;
}
.edit input{
	width:100%;
}
.start_txt{
	float:left;
	margin-left: 22px;
	margin-right: 22px; 
}
.start, .end{
	float:left;
	
}
.time_select{
	height:26px;
}
#myCarousel{
	float:left;
	width:586px;
	height:390px;
	z-index: 1;
}

#myCarousel img{
	width:100%;
	height:100%;
}
.right carousel-control, .left carousel-control{
	height:390px;
}
.team_comment, .team_establish{
	float:left;
	padding-top: 15px;
	width:100%;
	height:150px;
	border-top:1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.team_establish{
	border-bottom:none;
}
.parsleyGroupValidate, table{
	width:100%;
	height:119px;
}
table{
	border:1px solid;
	text-align:center;
}
td{
	width:195.75px;
	border:1px solid;
	border-color: #B1B1B1;
}
.people{
	width:69px;
	padding-left: 5px;
	padding-right: 10px;
	text-align: right;
}
.money{
	width:87px;
	padding-left: 5px;
	padding-right: 5px;
}
.comment, .establish{
	float:left;
	width:783px;
	height:100%;
	margin-left: 0px;
}
textarea {
	resize:none;
}

.aplication_phone{
	float:left;
	padding-top: 15px;
	width:100%;
	height:150px;	
}
.phone, .email{
	width:320px;
	float:left;
}
.email{
	margin-left:40px;
	width:345px;
}
.aplication_phone h4{
	float:left;
	height:38px;
}
.ownerphone_head{
	font-weight: bold
}
.phone input,.phone select{
	width:73px;
	height:30px;
}
.email input, .email select{
	width:124px;
	height:30px;
}
.aplication_phone .edit{
	width:783px;
	height:100%;
}
.btn_group{
	width:268px;
	height:52px;
	margin:0 auto;
}
.open, .cancel {  
    height:52px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius:4px;  
}
.open:HOVER{
	opacity:0.9;
}
.cancel:HOVER{
	opacity:0.8;
}
.cancel{
	background-color:#999999;
}
